body{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
        background:  #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
font-weight: bold;
 }

.header{
    font-weight: bold;
              color: wheat;
              text-align: center;
              margin: 10px;
              padding: 20px;
              background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

;
     

    }
    h1{
        font-size: 60px;
        font-weight: bold;
        
    }